.primary-btn {
}
.primary-btn {
  font-style: normal;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  background: #df0303;
  border-radius: 4px;
  color: #ffffff;
  padding: 0 33px;
}
