@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: "Inter", sans-serif;
}

/* heading color */
/* #010C3A */
/* #DF0303 */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #010c3a;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
p {
  color: #252525;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
